
// @import '../../../_lib/bootstrap/less/tables.less';

bs-multiple-payment-selector-component {
  section {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .m-input {
      margin-right: 0.5rem
    }

    .m-input,
    .m-logo,
    .m-descr {
      display: inline-block;
      width: 0.5rem;
    }

    .m-descr {
      div:nth-child(1) {
        width: 20rem;
      }
    }
  }
}
