extends ../../../templates/layout.jade

block body
  div.m-search-results(data-ng-controller="FlexibleDatesController")
    p {{"Hola Mundo"}}
    bs-flexible-dates-prices-component(data-farenet-model="ui.model")
