extends ../../../templates/layout.jade

block body
  div.m-flexible-dates(data-ng-controller="FlexibleDatesController")
    h1.m-page-title {{ ui.pageTitle }}
    .m-page-comment-block(data-ng-bind-html="ui.commentBlock | sanitize")
    bs-flexible-dates-prices-component(data-farenet-model="ui.model")
