extends ../../../templates/layout.jade

block body
  div.m-flexible-dates(data-ng-controller="FlexibleDatesOneWayCCController")
    h1.m-page-title {{ ui.pageTitle }}
    .m-page-comment-block(data-ng-bind-html="ui.commentBlock | sanitize")
    bs-flexible-dates-prices-component()
    bs-btn-continue-component(data-btn-host-selector=".pageButtonArea .button2" btn-classes="btn-return")
    bs-btn-continue-component(data-btn-host-selector="#pgButtonSelect" btn-classes="btn-next")
