//************************************************
//
// Import
//
//************************************************

  // ------------------------------
  // Libraries
  //-------------------------------

  @jquery-ui_path: '../../../_lib/jquery-ui/styles';

  @import (inline) '@{jquery-ui_path}/core.css';
  @import (inline) '@{jquery-ui_path}/theme.css';
  @import (inline) '@{jquery-ui_path}/dialog.css';

  // ------------------------------
  // Parent
  //-------------------------------

  @import '../../../styles/index.less';

  // ------------------------------
  // Blocks
  //-------------------------------

  @import '../../../styles/blocks/flight-options.less';
  @import '../../../styles/blocks/classes-dialog.less';
  @import '../../../styles/blocks/itinerary-summary.less';

  // ------------------------------
  // Helpers
  //-------------------------------

  // ------------------------------
  // External Variables
  //
  // "Overwrite block and helper
  // variables"
  //-------------------------------


//************************************************
//
// Variables
//
// "Create new variables here"
//************************************************


//************************************************
//
//  Styles
//
//************************************************

//TODO: We should move it to another var
.l-messages{
  margin-bottom: 9px;
}

.m-search-results{
  .m-flight-selection{
    .l-header{
      position: relative;
      top: 20px;
    }
    .m-header{
      padding: 8px 13px;
        background-color: @dark-blue;
        color: white;
        font-size: 13px;
        font-weight: bold;
        width: 100%;
        margin-top: 12px;
        //TODO: Thats wrong
        margin-left: -10px;

        strong{
          background: white;
          color: @dark-blue;
          padding: 3px 8px;
          border-radius: 12px;
        }
    }
    .m-flights{
      top: 3px;
      position: relative;
    }
    .flight-selling-class {
      font-size: 14px;


    }
    .flight-price {
      font-size: 16px;
      position: relative;
      left: 0;
    }
  }

  .m-flight-selection.done{
    .m-header{
      background-color: @light-blue;
      color: #666666;
        strong{
          background: @dark-blue;
          color: white;
        }
    }
  }

  .m-flight-selection + .m-flight-selection{
      top: 10px;
      position: relative;
  }
}

.ui-widget-overlay {
    background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
    opacity: 0.1;
    filter: Alpha(Opacity=10);
}



.btnBuyFlight{
  .btn();
  .btn-warning();
  background-color: @action-button__background-color;
  border-color: @action-button__border-color;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
  &:hover, &:focus, &:visited, &:active{
    background-color: @action-button__background-color;
    border-color: @action-button__border-color;
    outline: none;
    outline-offset: none;
  }
  position: absolute;
  bottom: 3%;
  right: 1%;
}

button[disabled].btnBuyFlight{
  background-color: gray;
  border-color: gray;
  opacity: 0.65;
  &:hover, &:focus, &:visited, &:active{
    background-color: gray;
    border-color: gray;
    opacity: 0.65;
    outline: none;
    outline-offset: none;
  }
}

.m-available-fligths {
  height: 100%;
}

.flight-duration {
  display: inline-block;
}


#interstOuter{
  z-index: initial !important;
}