<div class="fare-hold-container">
        <section>
            <h3>Flight Offers</h3>
        </section>
        <div class="content text-center">
                <div class="content-row">
                        <img src="//@@HOST/app/modules/bsmart-cm-ibe/assets/images/fare-hold-logo.png">
                    </div>
                    <div class="content-row"> 
                        <p>
                            Pay now or hold your fare
                        </p>
                        <p>
                            Fare lock terms and conditions
                        
                        </p>
                    </div>
            <div class="content-row">
                    <button>
                        <span class="fare-hold__offers-item-checkbox-sign"></span>
                        <span class="fare-hold__offers-item-duration">1 Day</span>
                        <span class="fare-hold__offers-item-price">Free</span>
                    </button>
                    <button> 
                        <span class="fare-hold__offers-item-duration">3 Days</span>
                        <span class="fare-hold__offers-item-price">
                            <span class="fare-hold__offers-item-price-currency-prefix">USD </span>
                            16.99
                        </span>
                    </button>
                    <button> 
                        <span class="fare-hold__offers-item-duration">7 Days</span>
                        <span class="fare-hold__offers-item-price">
                            <span class="fare-hold__offers-item-price-currency-prefix">USD </span>
                            19.99
                        </span>
                    </button>                
                </div>                    
        </div>
    </div>