
<div data-jqui-dialog="data-jqui-dialog" data-bs-open-dialog="{{ui.flightDetails.openDialog}}" data-bs-close-from-inner="ui.flightDetails.openDialog" class="dialog-container">
  <div class="m-flight-details-dialog">
    <div class="m-dialog-head"><span>{{ui.flightDetails.data.dialogTitle}}</span><span data-ng-click="ui.flightDetails.openDialog=false" class="close">X</span></div>
    <div class="m-dialog-body">
      <div data-ng-if="ui.flightDetails.isLoading" class="m-loader m-loader--dialog-internal">
        <div class="icon--pure-css">Loading</div>
      </div>
      <table data-ng-if="ui.flightDetails.data.flight">
        <tbody>
          <tr>
            <td>{{ui.flightDetails.data.flight.optText}}</td>
            <td>{{ui.flightDetails.data.flight.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.airLine.optText}}</td>
            <td>{{ui.flightDetails.data.airLine.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.from.optText}}</td>
            <td>{{ui.flightDetails.data.from.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.timeTotal.optText}}</td>
            <td>{{ui.flightDetails.data.timeTotal.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.to.optText}}</td>
            <td>{{ui.flightDetails.data.to.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.timeFlying.optText}}</td>
            <td>{{ui.flightDetails.data.timeFlying.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.date.optText}}</td>
            <td>{{ui.flightDetails.data.date.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.equipment.optText}}</td>
            <td>{{ui.flightDetails.data.equipment.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.depart.optText}}</td>
            <td>{{ui.flightDetails.data.depart.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.timeGround.optText}}</td>
            <td>{{ui.flightDetails.data.timeGround.valueText}}</td>
          </tr>
          <tr>
            <td>{{ui.flightDetails.data.arrive.optText}}</td>
            <td>{{ui.flightDetails.data.arrive.valueText}}</td>
          </tr>
          <tr data-ng-if="ui.flightDetails.data.rating.optText">
            <td>{{ui.flightDetails.data.rating.optText}}</td>
            <td ng-bind-html="ui.flightDetails.data.rating.valueText | sanitize"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>